*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background-color:#fff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: #222;
}

/* CONTAINER */
.container{
width: 100%;
max-width: 1160px;
padding-left: 30px;
padding-right: 30px;
margin-left: auto;
margin-right: auto;
}

/* SITE HEADER */
.site-header{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #fff;
}

.site-container{
display: flex;
justify-content: space-between;
align-items: center;
}

/* SITE LOGO */

.site-logo{
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #222;
  font-size: 24px;
  font-weight: 600;
}



.site-logo:hover{
color: #DE2E54;
}

.site-logo:active{
opacity: 0.6;
}

.site-footer-logo{
  color: #fff;
}

.site-footer-logo:active{
  color: #fff;
  opacity: 0.6;
  }

.site-logo-img{
margin-right: 16px;
border-radius: 50%;
}

/* SITENAV */
.sitenav{
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
}

.sitenav-list{
display: flex;
align-items: center;
list-style: none;
margin: 0;
padding: 0;
}

.sitenav-item:not(:last-child){
margin-right: 32px;
}

.sitenav-link{
display: block;
color: #222;
text-decoration: none;
text-transform: uppercase;
}

.sitenav-link:hover{
  color: #DE2E54;
}

.sitenav-link:active{
opacity: 0.6;
}

.sitenav-site-footer .sitenav-link{
  color: #fff;
}

.sitenav-site-footer .sitenav-link:hover{
  color: #DE2E54;
}

.sitenav-site-footer .sitenav-link:active{
  color: #fff;
  opacity: 0.6;
}

/*  MAIN LINK START*/
.main-link{
  display: inline-block;
padding: 10px 22px;
background-color: #DE2E54;
border: 2px solid #DE2E54;
border-radius: 8px;
font-family: "Open Sans Condensed", "Arial", sans-serif;
font-size: 15px;
color: #fff;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2px;
}

.main-link:hover{
background-color: #fff;
color:#DE2E54 ;
}

.main-link:active{
  background-color: #DE2E54;
  color: #fff;
  opacity: 0.6;
}

.hero-link:hover{
  background-color: rgba(222, 46, 84, 0.8);
color: #fff;
}

.hero-link:active{
  background-color: rgba(222, 46, 84, 0.6);
  opacity: 1;
}

.services-link{
  display: flex;
  justify-content: center;
}

.cta-link{
background-color: #0EB4C1;
}

.cta-link:not(:last-child){
  margin-right: 40px;
}

.cta-link:hover{
background-color: #DE2E54;
color: #fff;
}

/* MAIN LINK END */
.hero-container{
background-color: #0EB4C1;
color: #fff;
display: flex;
justify-content: space-between;

}

.hero{
padding-top: 120px;
padding-bottom: 120px;
width: 500px;
}

.hero-header{
  margin-top: 0;
  margin-bottom: 16px;
  font-family:"Open Sans Condensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;

}

.hero-text{
  margin-top: 0;
  margin-bottom: 32px;
  width: 440px;
  font-family:"Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;

}

.hero-img{
  align-self: flex-end;
}

/* SERVICES */
.services-container{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #fff;
}

.services-heading{
  margin-top: 0;
  margin-bottom: 56px;
  font-family:"Open Sans Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  text-transform:capitalize;
  color: #000;
  }
.services-list{
  margin-top: 0;
  margin-bottom: 60px;
}

.services-img{
  border-radius: 24px;
  margin-right: 64px;
}

.services-item{
  display: flex;
  align-items: center;
  }

.services{
  width: 195px;
  margin-top: 0;
  margin-bottom: 24px;
  font-family:"Open Sans Condensed", "Arial", sans-serif;
font-size: 24px;
line-height: 1.2;
font-weight: bold;
text-transform: capitalize;
color: #222;
}

.services-text{
  width: 600px;
margin-top: 0;
margin-bottom: 0;
color: #444;
font-family: "Open Sans", "Arial", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}

.services-item:not(:last-child){
  margin-bottom: 80px;
}


.cta-container{
padding-top: 64px;
padding-bottom: 64px;
background-color: #0EB4C1;

}

.cta-header{
  margin-top: 0;
  margin-bottom: 40px;
  color:#fff;
  font-family: "Open Sans Condensed","Arial", sans-serif;
  line-height: 1.2;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.cta-link-container{
display: flex;
justify-content: center;
}

.site-footer{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
}